* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #3A59D1;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

form button {
    display: inline-block;
    background-color: #3A59D1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3A59D1;
}

form button span {
    font-weight: bold;
}

.book-card {
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #3D90D7;
}

.book-card p {
    margin-bottom: 8px;
}

.book-card div {
    display: flex;
    gap: 10px;
}

/* Button styling untuk aksi dalam card */
.book-card button {
    background-color: #3A59D1;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-card button:hover {
    background-color: #0056b3;
}

.book-card button[data-testid="bookItemDeleteButton"] {
    background-color: #f6231f;
}

.book-card button[data-testid="bookItemDeleteButton"]:hover {
    background-color: #be0c0c;
}

.book-card button[data-testid="bookItemEditButton"] {
    background-color: #dfa921;
}

.book-card button[data-testid="bookItemEditButton"]:hover {
    background-color: #f9a825;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    form button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .book-card {
        padding: 10px;
    }

    .book-card h3 {
        font-size: 1rem;
    }

    .book-card button {
        font-size: 0.8rem;
        padding: 6px 10px;
    }

    header h1 {
        font-size: 2rem;
    }
}